body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#0A2C4D, #0F4D75);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.table {
    min-width: 700px;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f3f3c2;
}
tr:nth-child(odd) {
    background-color: #ffffff; /* Branco */
}
.button {
    background-color: #0d47a1; /* Azul escuro */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
}
.button:hover {
    background-color: #1565c0; /* Azul um pouco mais claro no hover */
}
.button a {
    text-decoration: none;
    color: #fff;
}

.namePremium {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-first {
    width: 24px;
    height: 24px;
    padding-left: 3px;
}

.rank {
    width: 20px;
    font-weight: bold;
}